/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
/* -------------------- */

* { box-sizing: border-box; font-family: sans-serif; }
*::selection { background: #1D2625; color: #F7F6EB; }
*::-moz-selection { background: #1D2625; color: #F7F6EB; }

body {
    background: #F7F6EB;
    color: #1D2625;
    font-family: Catamaran, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px;
    max-width: 1128px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 24px;
}

h1 {
    color: #BF0040;
    font-size: 36px;
    font-weight: 900;
}

header h2 {
    color: #1D2625;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

h2 {
    color: #208060;
    font-size: 30px;
    font-weight: 800;
}

h6 {
    font-size: 20px;
    font-weight: 700;
}

.logo-rune-header {width: 51px;}

p {margin-top: 24px;}

a {color:#208060;}

ul.features {list-style: square; margin: 24px;}

footer { margin-top: 24px; }
small { color: #9E4F34; font-size: 12px;}
small img {margin-top: -3px; padding-right: 6px; vertical-align: middle;}